*{
    padding: auto;
    margin: auto;
}

body {
    background-color: #404041;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
    font-size: 5rem;
    background: -webkit-linear-gradient(
        #d3cae2,#e6c17a
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.links {
    color: #e6c17a;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: 2px solid #e6c17a;
    border-radius: 15px;
    padding: 10px;
    width: 430px;
    font-size: 1.1rem;
    
}

a {
    transition: all 0.2s ease-in;
    text-decoration: none;
}

a:hover {
    background-color: #e6c17a;
    color: #404041;
}